@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

body  {
    background: rgb(88,50,108);
background: linear-gradient(117deg, rgb(244, 194, 194) 0%, rgb(137,207,240) 100%);
font-family: 'Bruno Ace SC', cursive;
    text-align: center;
    min-height: 100vh;
}
h1,h2{
    text-decoration: underline; 
    font-style: italic;
}
button { 
    background-color: rgb(244, 194, 194) ;
    color: rgb(137,207,240);
    border-radius: 4px;
    border-style: none;
    font-size: 16px;
    padding: 8px 16px;
    margin:2px 0;
    cursor:pointer;

}